:root{
    --background-theme-dark: #2b2f39;
    --principal-color: #ff1858;
    --font-color-theme-dark: white;
    --font-family-general: sans-serif;
    --min-width-labels: 180px;
    --max-width-labels: 200px;
    --secundary-color: #7357b4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    color: var(--font-color-theme-dark);
    font-family: var(--font-family-general);
    background: var(--background-theme-dark);
}