:root{
    --background-theme-dark: #2b2f39;
    --principal-color: #ff1858;
    --font-color-theme-dark: white;
    --font-family-general: sans-serif;
    --min-width-labels: 180px;
    --max-width-labels: 200px;
    --secundary-color: #7357b4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    color: var(--font-color-theme-dark);
    font-family: var(--font-family-general);
    background: var(--background-theme-dark);
}
/* .principal_container{
    padding: 15px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.principal_container h2{
    margin-bottom: 10px;
    margin-top:95px;
    text-decoration: underline 1.5px solid;
    color: white;
}
.principal_container h3{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
}
.add_product{
    display: block;
    padding: 10px 20px;
    background: #2e5f95;
    color: white;
    border: none;
    border-block: none;
    cursor: pointer;
    transition: 0.2s;
}
.add_product:hover{
    transform: scale(1.05);
}

.additional_info{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.additional_info div{
    display: flex;
    margin: 5px 0;
}
.additional_info div .additional_info_input{
    flex-grow: 1;
}
.send_button{
    display: block;
    padding: 10px 50px;
    margin: 20px auto;
    background: #2e5f95;
    color: white;
    border-block: none;
    border: 0px solid white;
    transition: 0.2s;
    cursor: pointer;
    font-size: 15px;
}
.send_button:hover{
    transform: scale(1.05);
} */