.secundaryData .sDcontainerForm{
  margin: 75px 0;
}
.secundaryData h2{
  margin-bottom: 15px;
}
.secundaryData select{
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  border-block: none;
  border-left: 10px solid #ff1858;
  color: white;
  border-right: none;
  margin-bottom: 15px;
  margin-top: 15px;
  
}
.secundaryData label{
  display: inline-block;
  min-width: 180px;
}
.sDSendButton{
  background: #2e5f95;
  color: white;
  border-block: none;
  padding: 7px 35px;
  border-right: none;
  margin-top: 15px;
}